<div class="circle-wrapper">
  <div class="big-circle"></div>
  <div class="inner-circle"></div>
</div>

<div class="map-nav-icon-wrapper">
  <img class="map-nav-icon" src="https://cdn2.iconfinder.com/data/icons/metro-uinvert-dock/128/Google_Places.png">
</div>
