@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

$base:      16px;
$opensans: 'Open Sans', sans-serif;

//Font Size
$font-size-small:       12;
$font-size-regular:     16;
$font-size-large:       24;
$font-size-x-large:     32;
$font-size-xx-large:    48;
$font-size-xxx-large:   64;
$font-size-xxxx-large:  96;

//Font Weights
$font-weight-light:	    300;
$font-weight-regular:   400;
$font-weight-semibold:  600;
$font-weight-bold:      700;
